extends common/layout

block layout-content
  h2 Welcome to School Events
  p Stay updated with the latest events happening at our school.

  h3 Upcoming Events
  ul
    each event in events
      li
        h4= event.name
        p Date: #{event.date.toDateString()}
        p Type: #{event.type}
        p= event.description
        form(action=`/delete/${event._id}` method="POST" onsubmit="return confirm('Are you sure you want to delete this event?');")
          button(type="submit") Delete
        form(action=`/update/${event._id}` method="GET")
          button(type="submit") Update
        
    